
.overskrift {
  text-align: center;
  font-size: 40px;
  color: #003692;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.menylinje {
	width: 80%;
	margin: 0%;
}

header {
  background:#FF9912;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  position: relative;
  left: 100px;
}

nav {
  float: right;
  position: relative;
  left: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #003692;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #003692;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.innhold{
    width: 90%;
    height: 350px;
    padding: 20px;
    margin: 0% auto;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 30px;
}


.meny-knapp{
    width: 250px;
    height: 200px;
    background:#ff9812;
    margin: 0px 20px;
    transition: 1s;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;

    
}

.meny-knapp:hover{
    transform: scale(1.1);
    background: #ff9812;
    z-index: 2;
    box-shadow: 3px 3px 3px #003692;
    
}

.kontaktinnhold {
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  top: 0px;
  bottom: 200px;
  height: 160px;
  padding: 0px;
  background-color: #003692;
  border: 2px solid #003692;
}

.kontakt {
  font-size: 30px;
  position: relative;
  left: 350px;
  top: 50px;
}
.datatilsynet {
  font-size: 20px;
  position: relative;
  text-align: center;
  right: 60px;
}
.postboks {
  font-size: 20px;
  position: relative;
  text-align: center;
  right: 10px;
}
.sted {
  font-size: 20px;
  position: relative;
  text-align: center;
  right: 70px;
}
.orgnr {
  font-size: 20px;
  position: relative;
  text-align: center;
  left: 250px;
  bottom: 70px;
}
.telefon {
  font-size: 20px;
  position: relative;
  text-align: center;
  left: 235px;
  bottom: 68px; 
}

.datalogo {
  position: relative;
  left: 350px;
  bottom: 60px;
  width: 150px;
  height: 50px;
}