body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.menylinje {
    width: 80%;
    margin: 0%;
}

header {
  background:#FF9912;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  position: relative;
  left: 100px;
  width: 80px;
  height: 50px;
}

nav {
  float: right;
  position: relative;
  left: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #003692;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #003692;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.flip-box {
    background-color: transparent;
    width: 420px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    color: black;
    position: relative;
    left: 500px;
    margin: 25px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.flip-box-front {
    background-color:whitesmoke;
    color: black;
  }
.flip-box-back {
    background-color: #FF9912;
    color: white;
    transform: rotateY(180deg);
  }
.bildecredit {
    position: relative;
    top: 120px;
}
.overskrift {
    color: black;
    text-align: left;
    font-size: 40px;
    margin: 0;
  }
.utdelinginnhold {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 40px;
      margin: 3%;
      background-color: lightgray;
      border: 2px solid #003692 ;
      text-align: left;
    }